body{
    margin: 0;
    padding: 0;
}
main{
    background: rgb(111,115,116);
    background: linear-gradient(354deg, rgba(111,115,116,1) 0%, rgba(247,255,252,1) 100%);
    /* height: calc(96vh - 2.5rem); */
    height: 97vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.chat{
    width: 37.5rem;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 51%, rgba(8,8,9,1) 100%);
    box-shadow: 1.125rem 1.875rem 3.375rem -0.25rem rgba(0,0,0,0.75);
    border-radius: 10%;
    padding: 5px 15px;
}

.titulo{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.mensaje{
    display: flex;
    justify-content: center;
    
}

.cuadroTexto{
    width: 18.75rem;
    height: 1.875rem;
    margin: 0.625rem 0.313rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.btnEnviar{
    border: 0px;
    width: 3.75rem;
    height: 3.75rem;
   border-radius: 50%;
    background-image: url(./img/enviar.svg);
    background-position: center;
    background-repeat: no-repeat;
    

}
.btnEnviar:hover{
    background-color: rgba(255, 250, 250, 0.377);
    

}

.respuesta{
    margin: 0.225rem;
    border-radius: 0.375rem;
    background-color: rgba(255, 255, 255, 0.164);
    width: 96%;
    height: 64%;
    padding: 0.313;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.redes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.red{
    margin: 4px;
}

.linkedin:hover{
    filter: invert(30%) sepia(77%) saturate(3272%) hue-rotate(181deg) brightness(88%) contrast(101%);
}

.twitter:hover{
    filter: invert(49%) sepia(95%) saturate(1662%) hue-rotate(161deg) brightness(96%) contrast(101%);
}
.imagen_fondo{
    margin: 20px 0px;
    position: absolute;
    height: 400px;
    width: 400px;
}
@media screen and (max-width:1000px){
    .imagen_fondo{
        display: none;
    }

}
